@use "global" as *;
@use "sass:math";

.p-card {
  width: 100%;
  background-color: $white;
}

.p-card__link {
  display: block;
}

.p-card__image {
  position: relative;
  width: 100%;
}

.p-card__image::before {
  content:"";
  display: block;
  padding-top: 100% * math.div( 200, 320 );
}

.p-card__image img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.p-card__text {
  min-height: rem(134);
  padding: rem(25) rem(20) rem(20);
  letter-spacing: 0.05em;
  line-height: math.div( 30, 16);
}