@use "global" as *;

.p-mainview {
  position: relative;
}

.p-mainview__swiper {
  width: 100%;
  height: 100%;
}

.p-mainview__swiper-slide {
  width: 100%;
  height: 100%;
}

.p-mainview__swiper-slide img {
  height: 100%;
  object-fit: cover;
}

.p-mainview__copy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  z-index: 1;
  color: $white;
  text-align: center;
  @include mq() {
    top: 70%;
    left: 30%;
  }
}

.p-mainview__english-copy {
  font-size: rem(37);
  font-family: $english-font-family;
  font-weight: $bold;
  letter-spacing: 0.05em;
  @include mq() {
    font-size: rem(70);
  }
}

.p-mainview__japanese-copy {
  margin-top: rem(59);
  font-size: rem(30);
  // font-family: $japanese-font-family;
  font-weight: $bold;
  letter-spacing: 0.05em;
  @include mq() {
    margin-top: rem(31);
    font-size: rem(40);
  }
}